* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: orange;
  height: 120px;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 50px;
  color: aquamarine;
}
